html {
    height: 100%;
}


body {
    background-color: #2f3035;
    background-image: url(https://i.pinimg.com/originals/1c/54/f7/1c54f7b06d7723c21afc5035bf88a5ef.png);
    background-size: cover;
    background-position: center;
}


.container {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

header {
    height: 118px;
    text-align: center;
}

nav {
    background-color: rgba(0, 0, 0, 0.338);
    text-align: center;
    margin-top: 7rem;
    padding-top: 14px;
    padding-bottom: 14px;

}

main {
    height: 400px;
    text-align: center;
    padding-top: 80px;
    padding-right: 240px;
    padding-left: 240px;
}

footer {
    background-color: rgba(0, 0, 0, 0.728);
    text-align: center;
    margin-top: 10rem;
    padding-top: 50px;
    padding-bottom: 50px;
}

h1 {
    font-size: 84px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif ;
}

p {
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

a {
    font-size: 1.5rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

nav a {
    text-decoration: none;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

footer p {
    font-size: 12px;
    color: rgb(211, 212, 212);
}

.maps {
    padding-bottom: 100px;
}

